<?xml version="1.0"?>
<!--
  ~  @author Rafael Corrêa Gomes <rafaelcgstz@gmail.com>
  ~  @copyright Copyright (c) 2019.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Rafaelcg_Quicklink::config" title="Rafaelcg Quicklink" translate="title"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
