<?xml version="1.0"?>
<!--
  ~  @author Rafael Corrêa Gomes <rafaelcgstz@gmail.com>
  ~  @copyright Copyright (c) 2023.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <minify_exclude>
                    <quicklink>/libs/quicklink</quicklink>
                    <polyfill>/v3/polyfill</polyfill>
                </minify_exclude>
            </js>
        </dev>
        <quicklink>
            <general>
                <active>1</active>
                <timeout>500</timeout>
                <request_limit>10</request_limit>
                <concurrency_limit>2</concurrency_limit>
                <priority>0</priority>
                <developer_mode>0</developer_mode>
            </general>
        </quicklink>
    </default>
</config>
