<?xml version="1.0"?>
<!--
  ~ @author Rafael Corrêa Gomes <rafaelcgstz@gmail.com>
  ~  @copyright Copyright (c) 2018
  ~  @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web" translate="label" type="text" sortOrder="950" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="quicklink" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Quicklink</label>
                <comment>Faster subsequent page-loads by prefetching in-viewport links during idle time.</comment>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="timeout" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Timeout</label>
                    <comment>Defaults to 2 seconds (e.g. 2000)</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
